@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Complete yet?</th>
        <th>Date Completed</th>
        
    </tr>
    </thead>
    @foreach (var contact in Global.Contacts)
    {
        <tr>
            <td>
                <a asp-page="Edit" asp-route-id="@contact.Id">Edit</a>
                <a asp-page="Delete" asp-route-id="@contact.Id" class="text-danger">Delete</a>
            </td>
            <td>@contact.Description</td>
            <td>@contact.DueDate</td>
            <td>@contact.IsCompleted</td>
            <td>@contact.CompletionDate</td>
        </tr>
    }
</table>
